# Problem Set 2

## Question 1

In [7]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
print('a is {}'.format(a))

a is 6

for the fisrt b(), a is 2
for the second b(), a is 4
for the third b(), a is 6

## Question 2

In [18]:
def filelength(filename):
    try:
        infile = open(filename)
        contents = infile.read()
        infile.close()
        print(len(contents))
    except FileNotFoundError:
        print("File ", str(filename), " not found.")
filelength('midterm.py')
filelength('idterm.py')

File  midterm.py  not found.
File  idterm.py  not found.

## Question 3

In [4]:
class Marsupial:
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch
    
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        self.x += dx
        self.y +=dy
        
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x}, {self.y})"
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0, 0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

## Question 4

In [6]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)
        
collatz(1)

collatz(10)

1
10
5
16
8
4
2
1

## Question 5

In [13]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end = '')
    
binary(0)

0

In [14]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end = '')
    
binary(1)

1

In [15]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end = '')
    
binary(3)

11

In [16]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end = '')
    
binary(9)

1001

## Question 6

In [ ]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.heading_level = 0
        self.heading_text = ""
        
    def handle_starttag(self, tag, attrs):
        if tag.startswith("h"):
            self.heading_level = int(tag[1])
            
    def handle_endtag(self, tag):
        if tag.startswith("h"):
            print("\t" * (self.heading_level - 1) + self.heading_text)
            self.heading_text = ""
            
    def handle_data(self, data):
        self.heading_text += data.strip()
        
infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

## Question 7

In [3]:
import requests

def webdir(url, depth, indent):
    if depth < 0:
        return
    try:
        response = requests.get(url)
        if response.status_code == 200:
            print(" " * indent + url)
            content = response.text
            links = extract_links(content)
            for link in links:
                webdir(link, depth - 1, indent + 1)
    except requests.exceptions.RequestException as e:
        print("Error accessing URL:", url)
        print(e)
        
def extract_links(content):
    import re
    pattern = r'(?:href=")(.*?)(?=")'
    return re.findall(pattern, content)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

## Question 8

In [16]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\yangr\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\yangr\anaconda3\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: sqlparse in c:\users\yangr\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: ipython in c:\users\yangr\anaconda3\lib\site-packages (from ipython-sql) (8.10.0)
Requirement already satisfied: ipython-genutils in c:\users\yangr\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\yangr\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\yangr\anaconda3\lib\site-packages (from ipython-sql) (2.0.16)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\yangr\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\yangr\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\yangr\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pickleshare in c:\users\yangr\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\yangr\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: traitlets>=5 in c:\users\yangr\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: stack-data in c:\users\yangr\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\yangr\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: backcall in c:\users\yangr\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\yangr\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\yangr\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: decorator in c:\users\yangr\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in c:\users\yangr\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\yangr\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\yangr\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\yangr\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\yangr\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

Table
City 	Country 	Season 	Temperature ©	 Rainfall (mm)
Mumbai	India	Winter	24.8	5.9
Mumbai	India	Spring	28.4	16.2
Mumbai	India	Summer	27.9	1549.4
Mumbai	India	Fall	27.6	346.0
London	United Kingdom	Winter	4.2	207.7
London	United Kingdom	Spring	8.3	169.6
London	United Kingdom	Summer	15.7	157.0
London	United Kingdom	Fall	10.4	218.5
Cairo 	Egypt	Winter	13.6	16.5
Cairo 	Egypt	Spring	20.7	6.5
Cairo 	Egypt	Summer	27.7	0.1
Cairo 	Egypt	Fall	22.2	4.5

In [ ]:
%%sql
SELECT Temperature FROM table;

In [ ]:
%%sql
SELECT DISTINCT City FROM table;

In [ ]:
%%sql
SELECT * FROM table WHERE Country = 'India';

In [ ]:
%%sql
SELECT * FROM table WHERE Season = 'Fall';

In [ ]:
%%sql
SELECT City, Country, Season FROM table 
WHERE Rainfall BETWEEN 200 AND 400;

In [ ]:
%%sql
SELECT City, Country FROM table 
WHERE Season = Fall AND Temperature > 20 
ORDER BY Temperature ASC;

In [ ]:
%%sql
SELECT SUM(Rainfall) AS Total_Rainfall FROM table 
WHERE City = 'Cario';

In [ ]:
%%sql
SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM table 
GROUP BY Season;

## Question 9

In [12]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([word.upper() for word in words])
print([word.lower() for word in words])
print([len(word) for word in words])
print([[word.upper(), word.lower(), len(word)] for word in words])
print([word for word in words if len(word) >= 4])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']